{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<script type="javascript/text" src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}
<section id="content">

		<div id="accordion" class="accordion-container">
				<article class="content-entry">
						<h4 class="article-title"><i></i>My Activity now</h4>
						<div class="accordion-content">
                          <p>- Undergraduate Student at Faculty of Computer Science at University of Indonesia</p>
                          <p>- Staff of Academic and Leadership Department BEM Fasilkom UI</p>
                          <p>- PIC of Seminar Educare 2019</p>
                          <p>- Campaign Manager of Independent Member candidate of DPM Fasilkom UI 2019</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>My Organization and Committee</h4>
						<div class="accordion-content">
                          <p>- Staff of Startup Academy division Compfest X</p>
                          <p>- Staff of Games and Competition 25th CGT</p>
                          <p>- Project Officer of SIWAK-NG 2018</p>
						</div>
						<!--/.accordion-content-->
				</article>

				<article class="content-entry">
						<h4 class="article-title"><i></i>Achievement</h4>
						<div class="accordion-content">
								<p>- Finalist of Business IT Case IT Today IPB</p>
						</div>
						<!--/.accordion-content-->
				</article>



		</div>
		<!--/#accordion-->


</section>
<script>
	$(function() {
		var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;

				var links = this.el.find('.article-title');
				links.on('click', {
						el: this.el,
						multiple: this.multiple
				}, this.dropdown)
		}

		Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
				$this = $(this),
						$next = $this.next();

				$next.slideToggle();
				$this.parent().toggleClass('open');

				if (!e.data.multiple) {
						$el.find('.accordion-content').not($next).slideUp().parent().removeClass('open');
				};
		}
		var accordion = new Accordion($('.accordion-container'), false);
});

</script>
<!--/#content-->
{% endblock %}
