{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fijar's portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <!--
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block extrahead %}
    {% endblock %}

</head>
<body>
<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>
<style>
  @import "bourbon";

/* Demo Styles */

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

h1 {
  font-size: 40px;
}

/* The Loader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;

  // Modernizr no-js fallback
  .no-js & {
    display: none;
  }
}


#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 11;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin-reverse .6s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1s linear infinite;
  }
}

// Bourbon mixins
@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(spin-reverse) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
</style>

    <header>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo1.png' %}" alt="Logo" class="logo"> </a>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'experiences' %}">Experiences</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'schedule' %}">Make Schedule</a></li>
          <li><a href="{% url 'schedule_save' %}">My Schedule</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

<div class="container-fluid all-content">


  <div class="row content">
    <div class="col-sm-3 sidenav">
        <div class="desc-container">
            <div class="img-container">
                <a href="https://www.linkedin.com/in/fijarlaz/" target="_blank"> <img src="{% static 'img/linkedin.png' %}" alt=""></a>
                <a href="mailto:fijarlaz@gmail.com" target="_blank"> <img src="{% static 'img/mail.png' %}" alt=""></a>
                <a href="https://twitter.com/fijarlaz" target="_blank"> <img src="{% static 'img/twitter.png' %}" alt=""></a>
                <a href="https://www.instagram.com/fijarlaz/" target="_blank"> <img src="{% static 'img/insta.png' %}" alt=""></a>
            </div>
            <img src="{% static 'img/me.png' %}" alt="myself" class="my-photo">
            <p class="my-name">Fijar Lazuardy</p>
            <p class="desc"><i>Undergraduate Student<br>Faculty of Computer Science<br>University of Indonesia</i></p>
        </div>

    </div>

    <div class="col-sm-9 main-content">
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>&copy; Fijar Lazuardy</p>
</footer>
<script>$(document).ready(function() {

  // Fakes the loading setting a timeout
    setTimeout(function() {
        $('body').addClass('loaded');
    }, 3500);

});</script>
</body>
</html>
