{% extends 'base.html' %}
{% block content %}

<ul class="timeline">
    <li class="timeline-list">
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>SIWAK-NG 2018</h4>
            </div>
            <div class="timeline-body">
                <p class="timeline-text">as Project Officer</p>
            </div>
            <div class="timeline-footer">
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Compfest X</h4>
            </div>
            <div class="timeline-body">
                <p class="timeline-text">as Staff of Startup Academy</p>
            </div>
            <div class="timeline-footer">
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>BEM Fasilkom UI 2018</h4>
            </div>
            <div class="timeline-body">
                <p class="timeline-text">as Staff of Academic and Leadership Department</p>
            </div>
            <div class="timeline-footer">
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Betis Fasilkom 2018</h4>
            </div>
            <div class="timeline-body">
                <p class="timeline-text">as Mentor</p>
            </div>
            <div class="timeline-footer">
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>25th Computers Get Together</h4>
            </div>
            <div class="timeline-body">
                <p class="timeline-text">as Staff of Games and Competition</p>
            </div>
            <div class="timeline-footer">
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>

{% endblock %}
