{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12 col-md-12">
    <div class="roundedrec">
        <div class="insiderec table-form">
            
        <table style="width:100%">
            {% if schedule %}
            <h2>Schedule(s) you have made</h2>
            <tr>
                <th>Waktu kegiatan</th>
                <th>Jam Kegiatan</th>
                <th>Nama Kegiatan</th>
                <th>Tempat</th>
                <th>Kategori</th>
            </tr>
            <tbody>
                {% for i in schedule %}
                <tr class="warning">
                    <td> {{i.waktu_kegiatan}} </td>
                    <td> {{i.jam_kegiatan}} </td>
                    <td> {{i.nama_kegiatan}} </td>
                    <td> {{i.tempat_kegiatan}} </td>
                    <td> {{i.kategori}} </td>
                {% endfor %}
            </tbody>
            {% else %}
            <h2>There's no activity</h2>
            {% endif %}
        </table>
        <a href="{% url 'schedule' %}">Make a schedule</a><br><br>
        <br>
        <br>
        <a href="{% url 'delete_schedule' %}" style="color: red">Delete Schedule</a>
        </div>
    </div>
</div>
{% endblock %}