{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fijar's portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <!--
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'img/logo1.png' %}" alt="Logo" class="logo"> </a>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'experiences' %}">Experiences</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'schedule' %}">Make Schedule</a></li>
          <li><a href="{% url 'schedule_save' %}">My Schedule</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

<div class="container-fluid all-content">


  <div class="row content">
    <div class="col-sm-3 sidenav">
        <div class="desc-container">
            <div class="img-container">
                <a href="https://www.linkedin.com/in/fijarlaz/" target="_blank"> <img src="{% static 'img/linkedin.png' %}" alt=""></a>
                <a href="mailto:fijarlaz@gmail.com" target="_blank"> <img src="{% static 'img/mail.png' %}" alt=""></a>
                <a href="https://twitter.com/fijarlaz" target="_blank"> <img src="{% static 'img/twitter.png' %}" alt=""></a>
                <a href="https://www.instagram.com/fijarlaz/" target="_blank"> <img src="{% static 'img/insta.png' %}" alt=""></a>
            </div>
            <img src="{% static 'img/me.png' %}" alt="myself" class="my-photo">
            <p class="my-name">Fijar Lazuardy</p>
            <p class="desc"><i>Undergraduate Student<br>Faculty of Computer Science<br>University of Indonesia</i></p>
        </div>

    </div>

    <div class="col-sm-9 main-content">
        {% block content %}
        {% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>&copy; Fijar Lazuardy</p>
</footer>

</body>
</html>
