{% extends 'base.html' %}
{% block content %}

<div class="form-input">
    <div class="row">
        <p class="message">Send us a message!</p>
        <div class="name-input">
            <label for="exampleFormControlInput1">Full name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full name">
        </div>
        <div class="email-input">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="date-input">
            <label for="exampleInputEmail1">Current Date</label>
            <input type="date" class="form-control form-control-date" id="exampleInputDate1" aria-describedby="dateHelp">
        </div>
        <div class="subject-input">
            <label for="exampleFormControlInput1">Subject</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
        </div>
        <div class="message-input">
            <label for="exampleFormControlInput1">Your message</label>
            <textarea class="form-control form-control-lg" type="text" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <div class="submit-btn">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>

</div>
{% endblock %}
