{% extends 'base.html' %}
{% block content %}
<div class="form-input">
    <form action="{% url 'schedule_save' %}" method="POST" role="form">
            {% csrf_token %}
            {{ add_schedule.as_p }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <a href="{% url 'schedule_save' %}">See your schedule</a>
</div>
    
{% endblock %}